/COCO2017.csv
/COCO2017_image_caption_pairs.csv
/COCO2017_inference
/FACET
/LLM.json
/LLM_api.log
/LLM_api.py
/SD_images
/__pycache__
/annotations
/debiased
/flickr30k
/generation.log
/generation.py
/llm_api_failed_prompts.csv
/not_debiased
/retrieval_llm_missing_report.csv
/train2017
/val2017